<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapse"
        data-toggle="collapsed"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Welcome to Github Search</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav"></ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>
              A Platform that enables you to see both your friend's and your own
              GitHub information using the GitHub API.
            </p>
            <p>You're able to see data such as your username, your avatar and a list
                of your public repositories.
            </p>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel-body">
        <form action="" class="search">
          <div form-group>
            <input type="text" class="form-control" placeholder="Search for a git user with username">

          </div>
        </form>
      </div>
    </div>

    <div *ngIf="profile">
      <div class="panel-body">
        <div class="col-md-4">
          <h5 class="panel-title">{{ profile.name }}</h5>
          <img
            class="github-avatar img-thumbnail"
            src="{{ profile.avatar_url }}"
            alt="Profile Image"
          />
          <p>
            <a href="{{profile.html_url}}" target="_blank" class="btn btn-outline-success btn-sm">View profile on github</a>
          </p>
        </div>
        <div class="col-md-8">
          <div class="stats">
            <span class="label bg-primary text-white">
              {{ profile.public_repos }} Public Repos</span
            >
            <span class="label bg-success">
              {{ profile.public_gists }} Public Gists</span
            >
            <span class="label bg-info">
              {{ profile.followers }} Followers</span
            >
            <span class="label bg-warning">
              {{ profile.following }} Following</span
            >
          </div>
          <br />
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Username: </strong> {{ profile.login }}
            </li>
            <li class="list-group-item">
              <strong>Bio: </strong> {{ profile.bio }}
            </li>
            <li class="list-group-item">
              <strong>Location: </strong> {{ profile.location }}
            </li>
            <li class="list-group-item">
              <strong>Email: </strong> {{ profile.email }}
            </li>
            <li class="list-group-item">
              <strong>Blog: </strong> {{ profile.blog }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>


<br />
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div *ngIf="profile">
        <div class="panel-heading">
          <h3 class="panel-title">{{ profile.name }}'s Repos</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <div *ngFor="let repo of repos">
              <div class="row">
                <div class="col-md-8">
                  <h4>
                    <a href="{{repo.html_url}}" target="_blank">{{repo.name }}</a>
                  </h4>
                  <p>{{ repo.description }}</p>
                </div> <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
